@{
ViewData["Title"] = "Accessibility";
}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement</h1>
      <p class="govuk-body">This accessibility statement applies to the Individual Insolvency Register website: https://www.insolvencydirect.bis.gov.uk/eiir/</p>
      <p class="govuk-body">This website is run by the Insolvency Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>change colours, contrast levels and fonts</li>
         <li>navigate most of the website using just a keyboard</li>
      </ul>
      <p class="govuk-body">There are many options for you to customise your web browser and device that could help you to navigate this and other websites more easily.</p>
      <p class="govuk-body">If you have a disability, AbilityNet has helpful advice on <a href="https://mcmw.abilitynet.org.uk/">how to make your device easier to use</a>.</p>
      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p class="govuk-body">If you need help completing this service, you can contact us:</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>using our <a href="https://www.insolvencydirect.bis.gov.uk/externalonlineforms/GeneralEnquiry.aspx">general enquiry form</a> – we'll respond within 5 working days</li>
         <li>by calling the Insolvency Service helpline</li>
      </ul>
      <h3 class="govuk-heading-s">
         The Insolvency Service helpline
      </h3>
      <p class="govuk-body">
         Telephone: 0300 678 0015<br>
         Monday to Thursday, 9am to 5pm<br>
         Friday, 9am to 3pm<br>
         <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>
      <h2 class="govuk-heading-m">
         Reporting accessibility problems with this website
      </h2>
      <p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems or think we're not meeting accessibility requirements, contact the Insolvency Service.</p>
      <h2 class="govuk-heading-m">
         Enforcement procedure
      </h2>
      <p class="govuk-body">
         The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/"">contact the Equality Advisory and Support Service (EASS)</a>.
      <h2 class="govuk-heading-m">
         Technical information about this website's accessibility
      </h2>
      <p class="govuk-body">
         The Insolvency Service is committed to making this website accessible, in accordance with <a href="https://www.legislation.gov.uk/uksi/2018/852/contents/made">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>.
      </p>
      <h2 class="govuk-heading-m">
         Compliance status
      </h2>
      <p class="govuk-body">
         This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) version 2.1</a> AA standard.
      </p>
      <h2 class="govuk-heading-m">
         Non-accessible content
      </h2>
      <p class="govuk-body">
         We will provide details of where we&apos;re not meeting the standard at a later date.
      </p>
      <h2 class="govuk-heading-m">
         What we're doing to improve accessibility
      </h2>
      <p class="govuk-body">We will review this website's accessibility on a regular basis. We will update this accessibility statement with any relevant changes.</p>
   </div>
</div>