@model INSS.EIIR.Web.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Individual Insolvency Register";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (!String.IsNullOrWhiteSpace(Model.BannerText))
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @Model.BannerText
                    </p>
                </div>
            </div>
        }
        <h1 class="govuk-heading-l">
            Individual Insolvency Register
        </h1>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">Search for information about bankruptcies and insolvencies in England and Wales, including:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>bankruptcy orders</li>
            <li>debt relief orders (DROs)</li>
            <li>individual voluntary arrangements (IVAs)</li>
        </ul>

        <div class="govuk-inset-text">
            You can search using an individual's <strong>name</strong> or <strong>trading name</strong> (for sole traders).
            <br />
            <br />
            Depending on the type of insolvency, information may remain active on the register for a period of up to 3 months following the discharge or notification of completion to the Insolvency Service.
        </div>

        <a asp-action="Index" asp-controller="Search" id="CTA_StartNow" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        <h2 class="govuk-heading-m">About the Individual Insolvency Register</h2>

        <p class="govuk-body">The Individual Insolvency Register combines the individual insolvency, bankruptcy restrictions and debt relief restrictions registers.</p>

        <p class="govuk-body">These registers are maintained and kept up to date by <a href="https://www.gov.uk/government/organisations/insolvency-service" class="govuk-link govuk-link--no-visited-state">the Insolvency Service</a>.</p>

        <h2 class="govuk-heading-m">
            Terms and conditions
        </h2>

        <p class="govuk-body">
            While every effort has been made to ensure that the information provided in the Register is accurate, occasionally errors may occur.
            The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise.
        </p>

        <p class="govuk-body">
            Find out more about the <a class="govuk-link--no-visited-state" asp-action="TermsAndConditions">terms and conditions</a>.
        </p>

    </div>

    <partial name="_RelatedContent" />
</div>
