@{
    ViewData["Title"] = "Privacy Policy";
}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Privacy policy
      </h1>

      <p class="govuk-body">The Individual Insolvency Register (IIR) and the Find an insolvency practitioner (FIP) service are covered by the Insolvency Service's <a href="https://www.gov.uk/government/organisations/insolvency-service/about/personal-information-charter">personal information charter</a>   (or privacy policy). It tells you:
      <ul class="govuk-list govuk-list--bullet">
        <li>what standards you can expect from us</li>
        <li>how and why we use your personal information</li>
        <li>what rights and responsibilities you have</li>
        </ul>

      <h2 class="govuk-heading-m">
          Cookies
      </h2>

      <p class="govuk-body">
          We sometimes put small files (known as 'cookies') onto your computer to collect information about how you browse the site. They cannot be used to identify you personally.
      </p>

      <table class="govuk-table">
  <!--
  <caption class="govuk-table__caption govuk-table__caption--s">IIR service cookies</caption>
  -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Purpose</th>
      <th scope="col" class="govuk-table__header">Expiry</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">SessionCookie</td>
      <td class="govuk-table__cell">Authentification</td>
      <td class="govuk-table__cell">Session</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">.AspNetCore.Antiforgery.xxxxxxx_xxxx</td>
      <td class="govuk-table__cell">Authentification</td>
      <td class="govuk-table__cell">Session</td>
    </tr>
  </tbody>
</table>




      <div class="govuk-inset-text">Find out more about <a href="https://www.gov.uk/help/cookies">cookies on GOV.UK</a>.</div>

    </div>
  </div>
