@model INSS.EIIR.Models.Home.StaticContent

@{
    ViewData["Title"] = "Terms and conditions";
}

@section Breadcrumb {
    <partial name="_Breadcrumb" for=Breadcrumbs />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Terms and conditions
        </h1>

        <p class="govuk-body">
            The documentation available on this website is designed to provide general information only.
            While every effort has been made to ensure that the information provided is accurate, occasionally errors may occur.
        </p>

        <div class="govuk-inset-text">
            If you identify information which appears to be incorrect or omitted, <a href="https://www.insolvencydirect.bis.gov.uk/eiir/IIRFeedbackPage.asp">tell the Insolvency Service</a>.
            We&apos;ll investigate the matter and correct the database as required.
        </div>

        <p class="govuk-body">The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise. The Insolvency Service and Official Receivers cannot provide legal or financial advice. You should seek this from:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Citizen&apos;s Advice</li>
            <li>a solicitor</li>
            <li>a qualified accountant</li>
            <li>an authorised insolvency practitioner</li>
            <li>a reputable financial advisor</li>
            <li>an advice centre</li>
        </ul>

    </div>

</div>
