<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

        <p class="govuk-body">Try again later.</p>

        <p class="govuk-body">
            Contact the Insolvency Service if you have any questions.
        </p>

        <p class="govuk-body">
            <a href="https://www.insolvencydirect.bis.gov.uk/externalonlineforms/GeneralEnquiry.aspx">General enquiry form</a>
        </p>

        <h2 class="govuk-heading-m">The Insolvency Service helpline</h2>

        <p class="govuk-body">
            Telephone:<br>
            <strong>0300 678 0015</strong>
        </p>

        <p class="govuk-body">
            Opening times:<br>
            <strong>
                Monday to Thursday: 9am to 5pm<br>
                Friday: 9am to 3pm
            </strong>
        </p>
    </div>
</div>