Alter table dbo.find_ip Add RegisteredAddressLine1 varchar(8000)
Alter table dbo.find_ip Add RegisteredAddressLine2 varchar(8000)

-- Rollback if required...
--Alter table dbo.find_ip DROP column RegisteredAddressLine1
--Alter table dbo.find_ip DROP column RegisteredAddressLine2


