-- Adding RegisteredAddressLine1 and RegisteredAddressLine2 to find_ip
IF NOT EXISTS (
    SELECT 1
    FROM sys.columns
    WHERE name = 'RegisteredAddressLine1' AND object_id = OBJECT_ID('dbo.find_ip')
)
BEGIN
    ALTER TABLE dbo.find_ip
    ADD RegisteredAddressLine1 VARCHAR(8000);
END;

IF NOT EXISTS (
    SELECT 1
    FROM sys.columns
    WHERE name = 'RegisteredAddressLine2' AND object_id = OBJECT_ID('dbo.find_ip')
)
BEGIN
    ALTER TABLE dbo.find_ip
    ADD RegisteredAddressLine2 VARCHAR(8000);
END;

-- Rollback if required...
--IF EXISTS (SELECT 1 FROM sys.columns WHERE name = 'RegisteredAddressLine1' AND object_id = OBJECT_ID('dbo.find_ip'))
--BEGIN
--    ALTER TABLE dbo.find_ip
--    DROP COLUMN RegisteredAddressLine1;
--END;

--IF EXISTS (SELECT 1 FROM sys.columns WHERE name = 'RegisteredAddressLine2' AND object_id = OBJECT_ID('dbo.find_ip'))
--BEGIN
--    ALTER TABLE dbo.find_ip
--    DROP COLUMN RegisteredAddressLine2;
--END;