@model INSS.EIIR.Models.SearchModels.SearchResults

@{
    ViewData["Title"] = "";
}

<a asp-controller="Search" asp-action="Index" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Search results
            </h1>
            <br>

            <div class="govuk-grid-column-one-third"></div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            
            @if (Model != null && Model.Results.Any())
            {
                <p class="govuk-body">
                    Your search returned <span class="govuk-!-font-weight-bold">@Model.Paging.ResultCount</span> records. These may include individuals with an alias or a previous name which matches your search criteria.
                </p>

                <p class="govuk-body">Select a <span class="govuk-!-font-weight-bold">Name</span> link to view the relevant report.</p>

                <table class="govuk-table" style="margin-top: 40px; margin-bottom: 60px;">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Date of birth</th>
                        <th scope="col" class="govuk-table__header">Trading name</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    @foreach (var individual in Model.Results)
                    {
                        var name = $"{individual.FirstName} {individual.Surname}";
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">@name</a></td>
                            <td class="govuk-table__cell">@individual.DateOfBirth</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    }

                    </tbody>
                </table>

                @if (Model.Paging.ResultCount > Model.Results.Count)
                {
                    <partial name="_Paging" model="@Model.Paging" />
                }
            }
        </div>
    </div>

</main>