<nav aria-label="Menu" class="govuk-header__navigation right_navigation">
    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>

    <ul id="navigation" class="govuk-header__navigation-list">
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" asp-controller="Login" asp-action="Logout" asp-area="">
                Sign out
            </a>
        </li>
    </ul>
</nav>