@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Subscriber access has changed
        </h1>

        <p class="govuk-body">Companies or organisations with subscriber accounts now receive daily notitifcation emails containing a unique download link.</p>

        <div class="govuk-inset-text">
            <p class="govuk-body">For more information please contact <a href="mailto:customerservices.eas@insolvency.gov.uk">customerservices.eas@insolvency.gov.uk</a>.</p>
        </div>

    </div>
</div>
