<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Apply to download data extracts
        </h1>

        <p class="govuk-body">Companies or organisations can download the contents of the Individual Insolvency Register as a data extract.</p>

        <div class="govuk-inset-text">
            <p class="govuk-body">You first need to create a subscriber account.</p>
        </div>

        <a href="data-extract-application-details" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
            Start
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        <h2 class="govuk-heading-m">
            What happens next
        </h2>

        <p class="govuk-body">After you've created a subscriber account, we'll send you further details about how to download the extract.</p>

        <h2 class="govuk-heading-m">
            About the data extract
        </h2>

        <p class="govuk-body">Data extracts of the Individual Insolvency Register are available for download every day from 9:30am.</p>

        <p class="govuk-body">Each daily extract contains the complete contents of the register.</p>

    </div>
</div>