$govuk-assets-path: '/assets/';

@import "node_modules/govuk-frontend/govuk/all";

.right_navigation {
    display: inline-block;
    float: right;
}

.table_header {
    margin-top: 40px;
    margin-bottom: 60px;
}

.app-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

.validation-summary-valid {
    display: none;
}

.larger-link {
    font-size : 19px;
}